<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>InmoVista</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.inmovista.listener.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.inmovista.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.inmovista.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.inmovista.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PropiedadServlet</servlet-name>
        <servlet-class>com.inmovista.servlet.PropiedadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PropiedadServlet</servlet-name>
        <url-pattern>/propiedades</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.inmovista.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
    <servlet-name>CitaServlet</servlet-name>
    <servlet-class>com.inmovista.servlet.CitaServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CitaServlet</servlet-name>
    <url-pattern>/citas</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>SolicitudServlet</servlet-name>
    <servlet-class>com.inmovista.servlet.SolicitudServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SolicitudServlet</servlet-name>
    <url-pattern>/solicitudes</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>TransaccionServlet</servlet-name>
    <servlet-class>com.inmovista.servlet.TransaccionServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>TransaccionServlet</servlet-name>
    <url-pattern>/transacciones</url-pattern>
</servlet-mapping>
</web-app>
